{% load static %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static 'css/login.css' %}'>
    <link rel="stylesheet" href='{% static 'css/normalize.css' %}'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/resource3.ico' %}" type="image/x-icon">



    <title>Rolalog: Register</title>
</head>
<body>
    <header class="site-header shadow">
        <div class="container">
            <div class="logo">
        <img src="{% static 'img/logo.png' %}" class="logo-img" alt="">
        <a href="" class="Brand font-principal">Rolalog </a>
        <nav class="nav">

        </nav>
         </div>
        </div>
    </header>


    <div class="content">

    <div class="card shadow">
        {% if messages %}
		<div class="messages">
		{% for message in messages %}
			<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
				{{ message }}
			</div>
		{% endfor %}
		</div>
	{% endif %}

        <div class="h3text ">

            <h3 class="font-principal"> Register </h3>
            <p class="font-text-bold">Do you already have an account? <a href="{% url 'login' %}" class="link"> Login </a></p>

        </div>

        <form method="POST" action="/register">
            {% csrf_token %}
            <p> <input class="input" type="text" placeholder="Username" name="username"> </p>
            <label for="mail" class="font-text-bold"> Please provide your spotify account email  </label>
            <p> <input class="input" type="text" placeholder="Email" name="mail"> </p>
            <p> <input class="input" type="password" placeholder="Password"   name="password"> </p>
            <p> <input class="input" type="password" placeholder="Confirmation"  name="confirmation"> </p>
            <div class="btn-ctn">
                <button class="btn" type="submit">Start Rolling</button>
            </div>
        </form>

    </div>
</div>

</body>
</html>